body  {
  height: 100vh;
  background-image: radial-gradient(circle, #f9e6c8, #498ab0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav#links {
  top: 5px;
  margin: 0px 20px;
  box-shadow: 3px 3px 10px #ffffff70;
}

a  {
  color: #1f496f;
  margin: 10px;
  font-family: 'Plaster', cursive;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

div#polaroid {
  position: absolute;
  display: inline-block;
  width: 300px;
  height: 400px;
  background-color: white;
  padding:20px;
  padding-bottom: 90px;
  right: 30px;
  margin-top: 20px;
  box-shadow: 3px 3px 10px #ffffff70;
}

div#bridge-image {
  width:300px;
  height:400px;
  border-radius: 25px;
  overflow: hidden;
}

img {
  width:300px;
  height:400px;
  object-fit: cover;
}

img:hover {
  filter: grayscale(100%);
  transform: rotate(40deg) scale(2, 2);
}

main#content {
  position: absolute;
  display: inline-block;
  width: 67vw;
  height: 480px;
  margin: 20px;
  border: double 5px white;
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
  box-shadow: 3px 3px 10px #ffffff70;
  overflow: scroll;
}

div#title,article,nav#links {
  padding: 10px;
  background-color:rgba(255,255,255,0.5);
  border: double 5px white;
  border-radius: 25px;
  font-family: "Garamond", serif;
  color: #446d92;
}

article {
  margin-top: 10px;
}

div#title {
  margin: auto;
  margin-top: 15px;
  text-align: center;
}

 h1,h2 {
  color: #1f496f;
  font-family: 'Plaster', cursive;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
