body  {
  background-image: url("../img/background-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main#content {
  margin: 20px;
  border: double 5px white;
  padding: 10px;
  border-radius: 25px;
    box-shadow: 3px 3px 10px white;
}

h1,article,nav {
  margin: 10px;
  width: 65%;
  padding: 1px 10px;
  background-color:rgba(255,255,255,0.5);
  border: double 5px white;
  color: #633242;
  font-family: "Garamond", serif, helvetica, arial, verdana,
    sans-serif;
  border-radius: 25px;
    box-shadow: 3px 3px 10px white;
}

h1,h2 {
  font-size: 2em;
  text-transform: capitalize;
  letter-spacing: 8px;
  font-family: 'Cormorant SC', serif;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    width: 50%;
    margin: auto;
}

img {
  width: 365px;
  height: auto;
  max-width: 100%;
  margin: 10px;
  float: right;
  border: double 5px white;
  border-radius: 25px;
  box-shadow: 3px 3px 10px white;
}

section {
  margin: 10px;
  padding: 1px 10px;
  background-color:rgba(255,255,255,0.5);
  border: double 5px white;
  color: #633242;
  font-family: "Garamond", serif;
  border-radius: 25px;
  box-shadow: 3px 3px 10px white;
}

a {
    color:#633242;
    font-family: "Garamond", serif, helvetica, arial, verdana,
      sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}
