body  {
  background-image: url("../img/cherry_petals.png"),
                    url("../img/lab16_background-image.jpg");
  background-repeat: no-repeat;
  background-size: 50vw, cover;
  background-position: top left, center;
}

nav#links {
  margin: 0px 20px;
}

a  {
  color: #1f496f;
  margin: 10px;
  font-family: "Garamond", serif;
  text-transform: uppercase;
  text-decoration: none;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

img {
  right: 20px;
  width: 32%;
  margin: 20px;
  margin-right: 6px;
  display: inline-block;
  position: absolute;
  border: double 5px white;
  z-index: 15;
  animation-name: spin;
  animation-duration: 5s;
  transition: width 2s;
}

img:hover {
  width: 40%;
}

div#column-text{
  display: inline-block;
  margin: 20px;
  margin-top: 0px;
  column-count: 3;
  z-index: 10;
}

div#content {
  display: inline-block;
  margin: 20px;
  border: double 5px white;
  padding: 10px;
  width: 60%;
  z-index: 10;
}

div#title,div#column-text,article,nav#links {
  padding: 10px;
  background-color:rgba(255,255,255,0.5);
  border: double 5px white;
  font-family: "Garamond", serif;
  color: #446d92;
}

div#title {
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
}

 h1,h2 {
  color: #1f496f;
  font-family: "Garamond", serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: color 2s;
}

h2 {
transition: color 2s;
}

h2:hover {
  color: #bb7390;
}
