body  {
  background-image: url("../img/lab11_background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav#links {
  position: sticky;
  top: 5px;
  margin: 0px 20px;
}

a  {
  color: #1f496f;
  margin: 10px;
  font-family: "Garamond", serif;
  text-transform: uppercase;
  text-decoration: none;
}

main#content {
  margin: 20px;
  border: double 5px white;
  padding: 10px;
  width: 60%;
}

div#title,article,aside,nav#links {
  padding: 10px;
  background-color:rgba(255,255,255,0.5);
  border: double 5px white;
  font-family: "Garamond", serif;
  color: #446d92;
}

div#title {
  margin: auto;
  text-align: center;
}

 h1,h2 {
  color: #1f496f;
  font-family: "Garamond", serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

aside#sidebar {
  margin: 20px;
  display: inline-block;
  width: 32%;
  min-width: 300px;
  float: right;
  font-size: 1.5em;
}

img#sidebar_image {
  display: block;
  width: 88%;
  margin: 20px auto 22px auto;

}

div.images {
  text-align: center;
}

img {
  width: 27%;
  min-width: 200px;
  height: auto;
  margin: 15px;
  border: double 5px white;
  display: inline;
}
