body {
  background-image: url("../img/lab17_background_image.jpg");
  color: #4f5065;
}

header, nav, article, aside, footer {
  border: double 5px white;
  background-color:rgba(255,255,255,0.5);
  margin: 20px;
  padding: 20px;
}

div#grid-box {
  height: 100vh;
  display: grid;
  grid-template-columns: 75% 25%;
}

div#title_and_summary {
  height: 70vh;
  display: grid;
  grid-template-columns: 25% 75%;
}

h1 {
  transform: rotate(-90deg);
  text-align: center;
  margin-top: 23vh;
}

a {
  color: #4f5065;
  text-align: center;
  text-decoration: none;
}

img {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

p#contact-info {
  display: inline;
  margin-right: 50px
}
